.threads-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.threads-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
} 